<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title | American Way Piracicaba</title>

    @Styles.Render("~/bundles/css")

    <script src="~/Content/plugins/pace/pace.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="background-light twlsky-red twlsky-mixedcolours isolated-sections loader-bar">

    <!-- Page Outer Container -->
    <div class="outer-container clearfix">

        <!-- =========== Header =========== -->
        <header class="clearfix">

            <div class="logo">
                <a href="/Home"><img src="/Content/images/design/logo.png" alt="TWILLI Sky" id="logo_dark"></a>
            </div><!-- .logo -->

            @Html.Partial("_Menu")

        </header>
        <!-- End: Header -->

        <!-- =========== Page Body Inside Content =========== -->
        <div class="inside-body-content-container clearfix">

            @RenderBody()

            @Html.Partial("_Footer")

        </div>
        <!-- .inside-body-content-container -->
        <!-- End: Page Body Inside Content -->

    </div><!-- .outer-container -->
    <!-- End: Page Outer Container -->
    <!-- Beneath Footer -->
    <div id="beneath-footer" class="center-container clearfix">

        <!-- left -->
        <div class="col-sm-6 beneath-footer-left">
            <div class="text">
                &copy; 2014 TWILLI Sky
                <br /><a href="#"><img src="/Content/images/temp/twillithemes.png" alt="TWILLI Themes"></a>
            </div>
        </div>

        <!-- right -->
        <div class="col-sm-6 beneath-footer-right">
            <ul class="social-media-icons clearfix">
                <li><a href="#" target="_blank" title="Facebok"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" target="_blank" title="Google+"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>

    </div><!-- #beneath-footer -->
    <!-- go to top -->
    <div id="go-to-top" onclick="scroll_to_top(this.event);" title="Go to top"><span class="glyphicon glyphicon-chevron-up"></span></div>

    <!-- Jquery and Bootstrap JS -->
    @Scripts.Render("~/bundles/js")

</body>
</html>